<section class="vh-150 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">

          <form class="card-body p-4 text-center" [formGroup]="registerForm" (submit)="onRegister()">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">
                Please fill on the fileds to complete registration!
              </p>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">First name*</label>
                <input type="text" id="firstName" class="form-control form-control-lg" formControlName="firstName" required />
                <p *ngIf="(submitted) && registerForm.get('firstName')?.errors?.['required']" class="error-message">First name is required!</p>
              </div>
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Last name*</label>
                <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName" required />
                <p *ngIf="(submitted) && registerForm.get('lastName')?.errors?.['required']" class="error-message">Last name is required!</p>
              </div>
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Email*</label>
                <input type="email" id="email" class="form-control form-control-lg" formControlName="email" required />
                <p *ngIf="(submitted) && registerForm.get('email')?.errors?.['required']" class="error-message">Email is required!</p>
              </div>
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX">Password*</label>
                <input type="password" id="password" class="form-control form-control-lg" formControlName="password" required />
                <p *ngIf="(submitted) && registerForm.get('password')?.errors?.['required']" class="error-message">Password is required!</p>
              </div>
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX">Re-password*</label>
                <input type="password" id="repassword" class="form-control form-control-lg" formControlName="repassword" required />
                <p *ngIf="(submitted) && registerForm.get('repassword')?.errors?.['required']" class="error-message">Re-password is required!</p>
              </div>

              <button class="btn btn-outline-light btn-lg px-5 mx-2" (click)="onCancel()">
                Back to login
              </button>
              <button class="btn btn-outline-light btn-lg px-5 mx-2" (click)="onRegister()">
                Register
              </button>


              </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</section>
